.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #4786b4;
    align-items: center;
    z-index: 10;
}
.header__cart, .header__burger {
    margin: 25px;
    transform: translate(0.6);
    width: 60px;
    transition: 0.5s;
    fill: white;
}
.header__burger {
    height: 60px;
}
.header__cart:hover, .header__burger:hover {
    fill: darkgray;
}
.header__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    color: white;
    user-select: none;
    transition: 0.5s;
}
.header__logo p {
    margin: 0;
    line-height: 50px;
    transition: 0.5s;
}
.header__logo span {
    font-size: 18px;
    line-height: 18px;
}
.header__logo:hover {
    color: darkgray;
}
.header__menu {
    position: absolute;
    height: calc(100vh - 100px);
    top: 100px;
    width: 500px;
    background-color: darkgray;
    transition: 0.5s;
    z-index: 5;
    display: flex;
    flex-direction: column;
}
.header__menu div {
    text-align: center;
    line-height: 100px;
    height: 98px;
    border-bottom: 1px solid black;
    font-size: 24px;
    transition: 0.3s;
    color: rgb(241, 241, 241);
    background-color: darkgray;

}
.header__menu div:hover {
    background-color: #4786b4;
}
.header__cartmenu {
    position: absolute;
    height: calc(100vh - 100px);
    top: 100px;
    width: 500px;
    background-color: darkgray;
    transition: 0.5s;
    z-index: 5;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header__cartmenu button {
    border-radius: 25px;
    background-color: black;
    color: white;
    height: 50px;
    width: 480px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.5s;
}
.header__cartmenu button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}
.header__cartmenu p {
    text-align: left;
    margin: 10px;
    color: white;
    font-size: 24px;;
}

@media (max-width: 500px) {
    .header__cartmenu, .header__menu {
        width: 100%;
    }
}